:root {
    --md-padding-main: 1em;
    --md-border-radius: 6px;

    --md-color-bg:      #FFF;
    --md-color-bg2:     #F2F2F2;
    --md-color-fg:      #000;
    --md-color-fg2:      #626262;
    --md-color-accent:  #546E7A;
    --md-color-accent-fg:  #FFF;
    --md-color-borders: #D6D6D6;
}

#md-wrapper { box-sizing: border-box; }
#md-wrapper a { color: inherit; text-decoration: none; }

/** Object search */

.md-search-form { display: grid; grid-template-columns: 1fr auto; background: var(--md-color-bg2);
    border-radius: var(--md-border-radius); }
.md-search-form > * { display: inline-block; grid-row: auto; grid-column: auto;
    padding: .3em .5em;
    background: none; border: none;  }
.md-object-search-reset-span { font-size: .8em; font-weight: bold; }

.md-search-form > .md-facet-bubbles-wrap { grid-row: 3; grid-column: 1 / span; }

.md-facet-bubbles-wrap { margin: .5em 0; }
.md-facet-bubbles { display: inline-block; cursor: pointer;
    margin: .1em .2em; padding: .2em .4em;
    background: var(--md-color-bg);
    border: 1px solid var(--md-color-borders); border-radius: var(--md-border-radius); }
.md-facet-bubbles:hover {  }

.md-objects-result-wrap { display: block; padding: .8em 0; }
.md-objects-result-meta { display: block; font-style: italic; }
.md-objects-result-wrap .md-pagination { display: block; padding: .2em 0; text-align: center; }

.md-pagination > * { display: inline-block; padding: .3em .3em; margin: .2em; background: var(--md-color-bg2); transition: background .2s, color: .2s; }
.md-pagination > .md-pag:hover { background: var(--md-color-accent); color: var(--md-color-accent-fg); }
.md-pagination > .selected { font-weight: bold; color: var(--md-color-accent); }

.md-objects-result-list { display: flex; flex-wrap: wrap; justify-content: space-between; text-align: center; }

.md-object-tile { flex: 1; display: inline-block; max-width: 300px; padding: .5em; margin: 1em;
    border: .1em solid transparent; transition: border .2s; }
.md-object-tile > * { display: block; text-align: left; }
.md-object-tile img { object-fit: cover; }
.md-object-tile .md-object-name { display: block; font-weight: bold; font-size: .95em; margin-top: .4em; }
.md-object-tile .md-invno { display: block; font-style: italic; font-size: .85em; }
.md-object-tile:hover { border-color: var(--md-color-accent); }

/** Object details page */

div.md-object-page-summary { display: block; font-size: 1.4em; font-weight: bold; color: var(--md-color-fg2); }
div.md-object-page-summary > * { display: block; }

div.md-main-desc { display: block; line-height: 1.6em; padding: 1em 0; }

table.md-object-details-table { width: 100%; }
table.md-object-details-table tr > * { text-align: left; vertical-align: top;
    padding: .3em .3em; border-bottom: 1px solid var(--md-color-borders); }
table.md-object-details-table tr > th { font-weight: bold; color: var(--md-color-fg2); }

#md-wrapper table.md-object-details-table a { display: inline-block; padding: 0 .2em; text-decoration: underline; }

.md-object-literature-entry { display: block; }

.md-link-to-entity-in-md { display: inline-block; padding: .5em .8em; font-weight: bold; border: 1px solid var(--md-color-borders); border-radius: var(--md-border-radius); transition: background .2s, color .2s; }
#md-wrapper a.md-link-to-entity-in-md:hover { background: var(--md-color-accent); color: var(--md-color-accent-fg); }
